@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h6 class="display-6">This is a code case for Genesis System.</h6>
    <h6 class ="display-7">Please don't forget to set your connection string in both api and web application and your api address in web application</h6>
    <br />
    <h6 class="display-9">Alper SARAC</h6>
    <h6 class="display-9">Thank you!</h6>
</div>
